/* Цвет фона хедера */
.header {
  background-color: $white;
}

@media screen and (max-width: 768px) {
  .nav-menu,
  .contact-items {
    display: none;
  }
}

.container__header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 480px;
    position: relative;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  top: 0px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: $black;
  transition: color $transition;

  & svg {
    fill: currentColor;
  }

  &:hover &,
  &:focus & {
    fill: $accent-icon;
  }
}
// .menu-toggle:hover,
// .menu-toggle:focus {
//   color: $accent-icon;
// }

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

// Меню для таблетки и десктопа

/* Задаём flex элементам хедера */

@media screen and (min-width: 768px) {
  .nav-links,
  .nav-menu {
    display: flex;
  }

  .nav-menu {
    padding-left: 0px;
    margin: auto;
  }
}

/* Шрифт для ссылок меню хедера */

@media screen and (min-width: 768px) {
  .nav-menu__link,
  .nav-menu__current-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: $black-text;
    transition: color $transition;
  }

  /* hover, focus, active для хедера */

  .nav-menu__link {
    &:hover,
    &:focus,
    &:active {
      color: $blue-text;
    }
  }

  /* Подсветка страницы, на которой находится пользователь */

  .nav-menu__current-link {
    position: relative;
    color: $blue-text;
    display: block;

    /* Делаем подчёркивание ссылки текущей страницы  */

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-icon;
      border-radius: 2px;
    }
  }

  /* Делаем высокие кнопки-ссылки */

  .nav-menu__link,
  .nav-menu__current-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* Задаём нижний марджин кнопкам-ссылкам */
  .nav-menu {
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .nav-menu li:not(:first-child) {
    margin-left: 50px;
  }

  .contact-items {
    display: block;
    padding-left: 0px;
    margin: 21px 0 21px 84px;
  }
}

// Переназначаем стили contact-items для десктопа

@media screen and (min-width: 1200px) {
  .contact-items {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .contact-items li:not(:first-child) {
    margin-left: 50px;
    color: $grey-text;
  }

  .contact-items {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Шрифт для электронной почты в хедере, выравнивание иконки и адреса, ховер*/

@media screen and (min-width: 768px) {
  .header__mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;

    color: $grey-text;
    transition: color $transition;

    &:hover,
    &:focus,
    &:active {
      color: $accent-icon;
    }
  }

  /* Шрифт для телефона в хедере, выравнивание иконки и телефона, ховер*/
  .header__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    color: $grey-text;
    transition: color $transition;

    &:hover,
    &:focus,
    &:active {
      color: $accent-icon;
    }
  }

  /* Делаем ховер для электронной почты и телефона */

  .button-icon {
    margin-right: 8px;
    fill: currentColor;

    &:hover,
    &:focus,
    &:active {
      color: $accent-icon;
    }

    &__mail {
      width: 14px;
      height: 10px;
    }

    &__tel {
      width: 10px;
      height: 14px;
    }
  }
}

// Переназначаем стили mail, tel для десктопа

@media screen and (min-width: 1200px) {
  .container__header {
    display: flex;
  }
  .header__mail {
    font-size: 16px;
    line-height: 1.14;
    margin: auto;
  }

  .header__tel {
    font-size: 16px;
    line-height: 1.14;
  }

  .button-icon {
    margin-right: 10px;
    fill: currentColor;

    &:hover,
    &:focus,
    &:active {
      color: $accent-icon;
    }

    &__mail {
      width: 16px;
      height: 12px;
    }

    &__tel {
      width: 10px;
      height: 16px;
    }
  }
}
